* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 100%; /* Make the container fill the available width */
    max-width: calc(100% - 20%);
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20%; /* Add padding to the sides */
    display: flex;
    object-fit: contain;
    justify-content: space-between;
}

h1, h2, h3, h4, p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
    margin-top: 3%;
    text-align: center;
    width: 100%;
    border: .5px solid grey;
    border-width: 100%;
    padding: 5%;
}

h2 {
    overflow: hidden; /* Ensure text stays inside the box */
}

.profile-img {
    font-family: "Archivo Black", sans-serif;
    margin-top: 3%;
    text-align: center;
    width: 100%;
    border: .5px solid grey;
    border-width: 100%;
    padding: 4%;
}

.portfolio {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    max-height: 200px; /* Set the maximum height for the images */
    width: auto;
    object-fit: contain; /* Allow the width to adjust automatically based on aspect ratio */
    margin-bottom: 20px; /* Add some space between images */
}

.collaboration-box:hover .hover-image,
.collaboration-box2:hover .hover-image2 {
    opacity: 1; /* Show the image on hover */
    /* Remove the transform property */
}

.collaboration-box .image-container,
.collaboration-box2 .image-container {
    width: 100%; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow */
}

.collaboration-box .image-container img,
.collaboration-box2 .image-container img {
    width: 100%; /* Ensure the image fills the container width */
    height: auto; /* Maintain aspect ratio */
}
